.tmv-customize li{
    min-width: 110px !important;
}

q.add-product-type {
    background: #fff;
    border-top: 10px solid #f4f6f8;
    height: auto;
    overflow: hidden;
    padding: 10px 20px 0px 20px;
}

.add-product-type label {
    padding-right: 10px;
    width: auto;
    line-height: 30px;
    margin: 0;
}

.add-product-type select {
    display: inline-block;
    background-color: #fff;
}

/** 标签样式*/
.check-box {
    margin: 5px 10px 5px 0px;
    display: inline-block;
}

.check-box a {
    border: 1px solid #ccc;
    line-height: 28px;
    padding: 0 20px;
    display: inline-block;
    background: #ddd;
}

.check-box a:hover {
    border: 1px solid #327ab7;
    color: #000;
}

.check-box a.tagChoose {
    border: 2px solid #327ab7;
    color: #327ab7;
    line-height: 26px;
    padding: 0 19px;
    background: url(../../images/base/checkbox-icon.jpg) right bottom no-repeat;
}

.check-box a:link, .check-box a:visited, .check-box a:active {
    color: #666;
}

.spinner button, .spinner input {
    height: 27px;
    border: 1px solid #ccc;
    font-size: 1em;
    color: #333;
}

.spinner button {
    width: 27px;
    background: #eee;
}

.spinner input.value {
    width: 40px;
    text-align: center;
    border-left: 0;
    border-right: 0;
}

.spinner input.passive {
    color: #ccc;
}

.margin-top-space .table th, .margin-top-space .table td {
    line-height: 25px;
}

.total-title {
    color: #666;
    border-bottom: 1px dotted #ccc;
    padding: 0 0 10px 0;
    margin-bottom: 10px;
}

.total-title label {
    color: #000;
    font-weight: bold;
}

.total-title span {
    color: #0099cc;
    margin-right: 15px;
    font-weight: bold;
    font-size: 14px;
}

/*首页轮播专用样式定义*/
.vui-slider {
    background: #999;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.vui-slider .vui-items {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.vui-slider .vui-item {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.vui-slider .vui-item a,
.vui-slider .vui-item img {
    display: block;
    padding: 0;
    margin: 0;
    border: none;
}

.vui-slider .vui-buttons {
    position: absolute;
    z-index: 5;
    bottom: 10px;
    left: 50%;
    float: left;
    display: inline;
}

.vui-slider .vui-button {
    float: left;
    display: inline;
    overflow: hidden;
    height: 6px;
    width: 150px;
    margin: 0 5px;
    padding: 0;
    border: none;
    background: #ddd;
    cursor: pointer;
}

.vui-slider .vui-button-cur {
    background-color: #09c;
}

.vui-slider .vui-transfer {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
}

.vui-slider .vui-prev {
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 5;
    width: 60px;
    height: 150px;
    margin-top: -75px;
    background: url(../../images/pms/prev.png) no-repeat;
    cursor: pointer;
    filter: alpha(opacity=20);
    -moz-opacity: 0.2;
    -khtml-opacity: 0.2;
    opacity: 0.2;
    transition: 0.5s ease;
    -o-transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
}

.vui-slider .vui-next {
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 5;
    width: 60px;
    height: 150px;
    margin-top: -75px;
    background: url(../../images/pms/next.png) no-repeat;
    cursor: pointer;
    filter: alpha(opacity=20);
    -moz-opacity: 0.2;
    -khtml-opacity: 0.2;
    opacity: 0.2;
    transition: 0.5s ease;
    -o-transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
}

.vui-slider .vui-sidebutton-hover {
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
    background-color: transparent;
}

.btn-85px {
    min-width: 85px;
    padding: 1px 5px 1px 5px !important;
}

.btn-95px {
    min-width: 95px;
    padding: 1px 5px 1px 5px !important;
}

.btn-75px {
    min-width: 73px;
}

.app-table-list hr {
    padding: 0px;
    margin: 2px 0px;
    border-top: 1px dotted #e6e6e6;
}

.notice-green-cell {
    color: #00B83F;
    font-weight: bold;
}

.current-recruit {
    background-color: #99CC00;
}

.post-type-md-cell {
    background-color: #FFCD41;
    color: #FFFFFF;
}

.post-type-wb-cell {
    background-color: #00B83F;
    color: #FFFFFF;
}

.post-type-pq-cell {
    background-color: #1fb5ac;
    color: #FFFFFF;
}

.post-type-itzp-cell {
    background-color: #2aabd2;
    color: #FFFFFF;
}

.force-update-setting {
    cursor: pointer;
}

.force-update-setting input {
    margin: 7px 5px 0px 0px;
    vertical-align: middle;
}

.force-update-setting label {
    vertical-align: middle;
    margin: 7px 5px 0px 0px;
}

/*话务与录音报表首页*/
.pms-home-bg {
    background: url(../../images/pms/bg-home.png) #ffffff no-repeat bottom;
    height: 460px;
    width: 100%;
    overflow: hidden;
}

.pms-home-border {
    width: 750px;
    height: auto;
    overflow: hidden;
    margin: 10px auto 0;
}

.pms-home-border a {
    width: 240px;
    height: 100px;
    display: block;
    float: left;
    margin: 60px;
    color: #fff;
    text-align: center;
}

.pms-home-border a:hover {
    opacity: 0.85;
    filter: alpha(opacity=85);
}

.pms-home-border a i {
    font-size: 42px;
    display: block;
    float: left;
    margin: 30px 20px 0 35px;
}

.pms-home-border a i:hover {
    color: #fff;
}

.pms-home-border a span {
    font-size: 22px;
    line-height: 100px;
    display: block;
    float: left;
}

.pms-home-border a.bgcolor-purple {
    background-color: #ad49a3;
}

.pms-home-border a.bgcolor-yellow {
    background-color: #fea406;
}

.min-span a {
    padding: 0 10px;
    line-height: 21px;
}

.min-span a.tagChoose {
    padding: 0 9px;
    line-height: 19px;
}

/* ----------------------------- 左侧 导航 icon ----------------------------- */

ul.sidebar-menu li ul.sub li a {
    height: 40px;
}

.icon-nav {
    height: 16px;
    background-image: url(../../images/pms/left-nav-icon-gray.png);
    background-repeat: no-repeat;
    display: inline-block;
    float: left;
    margin-top: 12px;
}

.theme-blue .icon-nav, .theme-black .icon-nav {
    background-image: url(../../images/pms/left-nav-icon.png);
}

/*学员导入*/
.icon-nav-student-import {
    background-position: 14px 0;
}

/*学员人才库*/
.icon-nav-student-library {
    background-position: 14px -544px;
}

/*招聘人才库*/
.icon-nav-recruit-library {
    background-position: 14px -560px;
}

/*共享人才库*/
.icon-nav-share-library {
    background-position: 14px -576px;
}

/*新增学员统计*/
.icon-nav-new-student-statistics {
    background-position: 14px -48px;
}

/*邀约批次*/
.icon-nav-invite-batch {
    background-position: 14px -80px;
}

/*面试间管理*/
.icon-nav-interview-room {
    background-position: 14px -96px;
}

/*面试排队显示*/
.icon-nav-interview-queue {
    background-position: 14px -112px;
}

/*面试安排*/
.icon-nav-interview-arrange {
    background-position: 14px -128px;
}

/*短信供应商管理*/
.icon-nav-sms-supplier {
    background-position: 14px -144px;
}

/*短信账号*/
.icon-nav-sms-account {
    background-position: 14px -160px;
}

/*短信批次*/
.icon-nav-sms-batch {
    background-position: 14px -176px;
}

/*短信任务*/
.icon-nav-sms-task {
    background-position: 14px -192px;
}

/*短信一览*/
.icon-nav-sms-list {
    background-position: 14px -208px;
}

/*短信回复*/
.icon-nav-sms-reply {
    background-position: 14px -224px;
}

/*学员来源*/
.icon-nav-student-source {
    background-position: 14px -240px;
}

/*网站账号配置*/
.icon-nav-web-account-config {
    background-position: 14px -256px;
}

/*学员接收详情*/
.icon-nav-student-receive-detail {
    background-position: 14px -272px;
}

/*接收详情汇总*/
.icon-nav-student-receive-detail-statistics {
    background-position: 14px -288px;
}

/*学员接收文件*/
.icon-nav-student-receive-file {
    background-position: 14px -304px;
}

/*招聘会*/
.icon-nav-recruit {
    background-position: 14px -320px;
}

/*学员预览*/
.icon-nav-student-preview {
    background-position: 14px -624px;
}

/*学员预览明细*/
.icon-nav-student-preview-detail {
    background-position: 14px -640px;
}

/*学员预览统计*/
.icon-nav-student-preview-statistics {
    background-position: 14px -656px;
}

/*学员总量统计*/
.icon-nav-student-gross-statistics {
    background-position: 14px -672px;
}

/*操作记录*/
.icon-nav-operation {
    background-position: 14px -688px;
}

/*需求录入*/
.icon-nav-demand {
    background-position: 14px -704px;
}

/*装机注册*/
.icon-nav-equipment-install-register {
    background-position: 14px -720px;
}

/*学员信息平铺效果*/
.data-block-list {
    line-height: 24px;
    overflow: hidden;
    height: auto;
    padding-top: 10px;
}

.data-block-list label {
    width: 27%;
    display: block;
    text-align: right;
    padding-right: 20px;
    float: left;
    color: #767676;
}

.data-block-list > div > label {
    width: 9%;
}

.data-block-list span {
    display: block;
    color: #000000;
    overflow: hidden;
}

.data-block-list > ul {
    overflow: hidden;
    height: auto;
    padding-left: 0;
    margin-bottom: 0;
}

.data-block-list > ul > li {
    float: left;
    width: 33.333%;
}

.data-block-list > div {
    overflow: hidden;
    height: auto;
}

.data-block-list > i {
    overflow: hidden;
    height: 0;
    width: 100%;
    border-top: 1px dotted #ccc;
    display: block;
    margin-top: 10px;
}

.student-detail-textarea {
    height: 75px;
    overflow: auto;
    overflow-x: hidden
}

/*综合报表-快捷导航*/
.chart-nav-float {
    font: 12px "Microsoft YaHei";
    position: fixed;
    right: 20px;
    top: 105px;
}

.chart-nav-float:hover {
    opacity: 1.0;
    filter: alpha(opacity=100);
}

.chart-nav-float h4 {
    background-color: #37424f;
    color: #fff;
    text-align: center;
    line-height: 34px;
    margin: 0 0 1px 0;
    font-size: 14px;
}

.chart-nav-float h4 span {
    display: none;
}

.chart-nav-float ul {
    padding: 0;
    margin: 0;
}

.chart-nav-float ul li {
    margin-bottom: 1px;
    line-height: 0;
    width: 100%;
    list-style: none;
}

.chart-nav-float ul li a {
    display: block;
    line-height: 34px;
    color: #fff;
    background-color: #09c;
    width: 100%;
    white-space: nowrap;
    text-decoration: none;
}

.chart-nav-float ul li a:hover {
    background-color: #37424f;
    color: #fff;
}

.chart-nav-float ul li a label {
    width: 50px;
    display: inline-block;
    margin: 0;
    font-size: 14px;
    text-align: center;
}

.chart-nav-float ul li a span {
    display: none;
    padding: 0 30px 0 0;
    font-size: 12px;
}

.common-logo {
}

.common-logo li {
    float: left;
    position: relative;
    width: 70px;
    height: 70px;
    overflow: hidden;
    border: 1px solid #ccc;
    margin: 0 10px 10px 0;
    line-height: 0;
}

.common-logo li img {
    width: 70px;
    height: 70px;
}

.common-logo li span {
    background-color: #000;
    opacity: 0.5;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20px;
    display: block;
}

.common-logo li p {
    color: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
    line-height: 20px;
    text-align: center;
    margin: 0;
    display: block;
}

/*介绍文本*/
.job-release-data label {
    text-align: right;
    line-height: 33px;
    padding: 0;
}

.job-release-data > ul {
    padding: 0;
}

.job-release-data > ul > li {
    padding: 5px 0;
}

.job-release-data > ul > li > span > textarea {
    width: 100%;
    height: 80px;
    border-color: #ccc;
    resize: none;
}

.job-data-label ul li {
    float: left;
    margin-right: 10px;
    margin-bottom: 0;
}

.job-data-label ul li a {
    display: block;
    border: 1px solid #ccc;
    width: auto;
    padding: 0 20px;
    height: 30px;
    line-height: 30px;
    background: #f7f7f7;
}

.job-data-label ul li a:hover, .job-data-label ul li a:focus {
    color: #969fa6;
}

.job-data-label ul li a.positionStrengthsLabel {
    border-color: red;
    color: red;
}

.job-data-label ul li a.workResponseLabel {
    border-color: red;
    color: red;
}

.job-data-label ul li a.workTimeLabel {
    border-color: red;
    color: red;
}

.job-data-label ul li a.workRequireLabel {
    border-color: red;
    color: red;
}

.job-data-label ul li a.welfareLabel {
    border-color: red;
    color: red;
}

.job-data-label ul button {
    border: none;
    height: 32px;
    background-color: transparent;
}

.job-data-label ul button i {
    color: #5cc628;
    font-size: 1.2em;
    padding-right: 2px;
}

.job-data-label > span {
    display: none;
}

.job-data-label > span > input {
    border: 1px solid #ccc;
    border-right: 0;
    height: 30px;
    display: block;
    float: left;
    text-indent: 5px;
}

.job-data-label > span > button {
    background-color: #09c;
    height: 30px;
    color: #fff;
    border: 0;
    display: block;
    padding: 0 5px;
    float: left;
}

.job-data-label > span > em {
    display: block;
    font-style: normal;
    line-height: 30px;
    text-indent: 10px;
    color: #bbb;
}

.customer-logo-guide {
    background-color: #f5f5f5;
    height: auto;
    overflow: hidden;
    padding: 10px;
}

.customer-logo-guide li {
    height: auto;
    overflow: hidden;
}

.customer-logo-guide li div {
    width: auto;
    float: left;
    overflow: hidden;
    height: auto;
    padding-right: 10px;
}

.customer-logo-guide li div p {
    text-align: center;
}

.app-table-list-input > tbody > tr > td.tb_ProjectPositionApplyList_divList_grid_name {
    position: relative;
}

.app-table-list-input > tbody > tr > td.tb_ProjectPositionApplyPopupList_divList_grid_name {
    position: relative;
}

.app-table-list > tbody > tr > td i.urgently {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #f34b4e;
    color: #fff;
    width: auto;
    height: 20px;
    line-height: 20px;
    border-bottom-left-radius: 6px;
    margin: 0;
    padding: 0 5px;
}

/*查看面试地址补充说明，工作地址补充说明在app上显示的位置*/
.lightPoint .jobPopTrigger {
    display: inline-block;
    width: 94px;
    height: 22px;
    line-height: 22px;
    margin-left: 20px;
    background-color: #fff1d9;
    color: #ffa200;
    border: 1px solid #ffa200;
    border-radius: 3px;
    text-align: center;
}

.lightPoint {
    position: relative;
    padding: 0px 0px 0 0;
}

.colffa {
    color: #ffa200;
}

.lightPoint .jobPop {
    display: none;
    position: absolute;
    left: 520px;
    top: -128px;
    z-index: 100;
}

.clear {
    clear: both;
    float: none;
    height: 0;
    overflow: hidden;
}

.payable-amount {
    color: #0D5995;
    font-weight: bold;
}

.payment-amount {
    color: #00B83F;
    font-weight: bold;
}

.refund-amount {
    color: #d43f3a;
    font-weight: bold;
}